<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Resource Allocation System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assignment2.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://www.vu.edu.au/"><img src="~/images/vu_transparent_logo.png" id="navbar-logo"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            // Get the control variable from backend controller
                            var navbarControl = ViewData["navbarVisibility"];

                            // Hide all tabs by default
                            bool showStudentTabs = false;
                            bool showTeacherTabs = false;
                            bool showAdminTabs = false;
                            bool showLogoutTab = true;
                            bool showSiteTitle = false;

                            if (String.Equals("index", navbarControl))
                            {
                                showLogoutTab = false;
                                showSiteTitle = true;
                            }
                            else if (String.Equals("student", navbarControl))
                            {
                                showStudentTabs = true;
                            }
                            else if (String.Equals("teacher", navbarControl))
                            {
                                showTeacherTabs = true;
                            }
                            else if (String.Equals("admin", navbarControl))
                            {
                                showAdminTabs = true;
                            }
                            <li id="siteTitle" class="@(showSiteTitle ? "" : "hidden")">
                                <p>Resource Allocation System</p>
                            </li>
                            <li id="student" class="nav-item @(showStudentTabs ? "" : "hidden")">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Student">Student</a>
                            </li>
                            <li id="staff" class="nav-item @(showTeacherTabs ? "" : "hidden")">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Staff">Staff</a>
                            </li>
                            <li id="myRequest" class="nav-item @(showStudentTabs ? "" : "hidden")">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MyRequests">My Requests</a>
                            </li>
                            <li id="stdRequest" class="nav-item @(showTeacherTabs ? "" : "hidden")">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="StudentRequests">Student Requests</a>
                            </li>
                            <li id="user" class="nav-item @(showAdminTabs ? "" : "hidden")">
                                <a class="nav-link text-dark" asp-area="" asp-controller="UserModels" asp-action="Index">Users</a>
                            </li>
                        }
                    </ul>
                </div>
                <div id="logout" class="nav-item @(showLogoutTab ? "" : "hidden")">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ClearSession">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
